<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Suyati Technologies">

        <title>@RenderSection("title", false)</title>


        @Styles.Render("~/Content/PixelAdmin")      

        @RenderSection("style", false)
    </head>

    <body class="theme-default page-signin-alt main-navbar-fixed main-menu-fixed">

        <div class="signin-header">
            <a href="/" class="logo">
                <img src="/Content/images/logo.jpg" width="80"/>
            </a> <!-- / .logo -->
        </div> <!-- / .header -->

        <div id="alertBox" class="alert alert-error posab ShowAlert " style="display: none;"><button type="button" class="close" data-dismiss="alert">×</button></div>
        <div id="infoBox" class="alert alert-info posab ShowInfo" style="display: none;"><button type="button" class="close" data-dismiss="alert">×</button></div>
        <div id="successBox" class="alert alert-success posab ShowSuccessinfo" style="display: none;"><button type="button" class="close" data-dismiss="alert">×</button></div>
        <!-- / Page background -->
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")

        @RenderSection("scripts", false)
    </body>
</html>